In [1]:
#Import Dependencies
import pandas as pd

In [5]:
halifax_2015 = "Resources/2015/halifax_climate_2015.csv"
montreal_2015 = "Resources/2015/montreal_climate_2015.csv" 
toronto_2015 = "Resources/2015/toronto_climate_2015.csv"
vancouver_2015 = "Resources/2015/vancouver_climate_2015.csv"

In [19]:
halifax_2015_df = pd.read_csv(halifax_2015)
montreal_2015_df = pd.read_csv(montreal_2015)
toronto_2015_df = pd.read_csv(toronto_2015)
vancouver_2015_df = pd.read_csv(vancouver_2015)
halifax_2015_df.head()

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Day,Data Quality,Max Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow on Grnd (cm),Snow on Grnd Flag,Dir of Max Gust (10s deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,-63.51,44.88,HALIFAX STANFIELD INT'L A,8202251,2015-01-01,2015,1,1,NaN,-2.2,...,1.6,NaN,1.6,NaN,0.0,NaN,NaN,NaN,<31,NaN
1,-63.51,44.88,HALIFAX STANFIELD INT'L A,8202251,2015-01-02,2015,1,2,NaN,1.3,...,0.4,NaN,0.4,NaN,1.0,NaN,27.0,NaN,70,NaN
2,-63.51,44.88,HALIFAX STANFIELD INT'L A,8202251,2015-01-03,2015,1,3,NaN,-10.0,...,0.0,T,0.0,T,1.0,NaN,32.0,NaN,54,NaN
3,-63.51,44.88,HALIFAX STANFIELD INT'L A,8202251,2015-01-04,2015,1,4,NaN,8.1,...,12.8,NaN,21.0,NaN,8.0,NaN,13.0,NaN,70,NaN
4,-63.51,44.88,HALIFAX STANFIELD INT'L A,8202251,2015-01-05,2015,1,5,NaN,8.2,...,0.0,T,6.6,NaN,1.0,NaN,27.0,NaN,91,NaN

In [20]:
halifax_2015_df.columns

Index(['Longitude (x)', 'Latitude (y)', 'Station Name', 'Climate ID',
       'Date/Time', 'Year', 'Month', 'Day', 'Data Quality', 'Max Temp (°C)',
       'Max Temp Flag', 'Min Temp (°C)', 'Min Temp Flag', 'Mean Temp (°C)',
       'Mean Temp Flag', 'Heat Deg Days (°C)', 'Heat Deg Days Flag',
       'Cool Deg Days (°C)', 'Cool Deg Days Flag', 'Total Rain (mm)',
       'Total Rain Flag', 'Total Snow (cm)', 'Total Snow Flag',
       'Total Precip (mm)', 'Total Precip Flag', 'Snow on Grnd (cm)',
       'Snow on Grnd Flag', 'Dir of Max Gust (10s deg)',
       'Dir of Max Gust Flag', 'Spd of Max Gust (km/h)',
       'Spd of Max Gust Flag'],
      dtype='object')

In [30]:
#cleaning up the datasets 
halifax_2015_df = halifax_2015_df[["Date/Time",'Station Name','Mean Temp (°C)','Total Precip (mm)',]]
toronto_2015_df = toronto_2015_df[["Date/Time",'Station Name','Mean Temp (°C)','Total Precip (mm)',]]
montreal_2015_df = montreal_2015_df[["Date/Time",'Station Name','Mean Temp (°C)','Total Precip (mm)',]]
vancouver_2015_df = vancouver_2015_df[["Date/Time",'Station Name','Mean Temp (°C)','Total Precip (mm)',]]

In [33]:
halifax_2015_df.head()

    Date/Time               Station Name  Mean Temp (°C)  Total Precip (mm)
0  2015-01-01  HALIFAX STANFIELD INT'L A            -8.6                1.6
1  2015-01-02  HALIFAX STANFIELD INT'L A            -4.5                0.4
2  2015-01-03  HALIFAX STANFIELD INT'L A           -12.4                0.0
3  2015-01-04  HALIFAX STANFIELD INT'L A            -2.7               21.0
4  2015-01-05  HALIFAX STANFIELD INT'L A            -2.3                6.6

In [63]:
#Halifax 2015
#finding Halifax's mean temp and temp total precip for the four quarters of the year 

# 1st quarter Jan-Feb-Mar
first_quarter_halifax_2015 = halifax_2015_df.loc[(halifax_2015_df["Date/Time"] <= "2015-03-31"),:]
avg_halifax_first_quarter = first_quarter_halifax_2015.groupby("Station Name").mean()

#2nd quarter Apr-May_Jun
second_quarter_halifax_2015 = halifax_2015_df.loc[((halifax_2015_df["Date/Time"] >= "2015-04-01") 
                                                   & (halifax_2015_df["Date/Time"] <= "2015-06-30")),:]
avg_halifax_second_quarter = second_quarter_halifax_2015.groupby("Station Name").mean() 

#3rd quarter Jul-Aug-Sep
third_quarter_halifax_2015 = halifax_2015_df.loc[((halifax_2015_df["Date/Time"] >= "2015-07-01") 
                                                   & (halifax_2015_df["Date/Time"] <= "2015-09-30")),:]
avg_halifax_third_quarter = third_quarter_halifax_2015.groupby("Station Name").mean() 

#4nd quarter Oct-Nov-Dec
fourth_quarter_halifax_2015 = halifax_2015_df.loc[((halifax_2015_df["Date/Time"] >= "2015-10-01") 
                                                   & (halifax_2015_df["Date/Time"] <= "2015-12-31")),:]
avg_halifax_fourth_quarter = fourth_quarter_halifax_2015.groupby("Station Name").mean() 

#creating a dataframe with the data

halifax_2015_avg_df = pd.concat([avg_halifax_first_quarter, avg_halifax_second_quarter,
                                   avg_halifax_third_quarter,avg_halifax_fourth_quarter], 
                                keys =("Jan-Feb-Mar","Apr-May_Jun","Jul-Aug-Sep","Oct-Nov-Dec"))

halifax_2015_avg_df

                                       Mean Temp (°C)  Total Precip (mm)
            Station Name
Jan-Feb-Mar HALIFAX STANFIELD INT'L A       -7.062222           5.402247
Apr-May_Jun HALIFAX STANFIELD INT'L A        8.912088           3.613793
Jul-Aug-Sep HALIFAX STANFIELD INT'L A       18.850000           3.129070
Oct-Nov-Dec HALIFAX STANFIELD INT'L A        4.938043           5.264444

In [62]:
#Toronto 2015
#finding Toronto mean temp and temp total precip for the four quarters of the year 

# 1st quarter Jan-Feb-Mar
first_quarter_toronto_2015 = toronto_2015_df.loc[(toronto_2015_df["Date/Time"] <= "2015-03-31"),:]
avg_toronto_first_quarter = first_quarter_toronto_2015.groupby("Station Name").mean()

#2nd quarter Apr-May_Jun
second_quarter_toronto_2015 = toronto_2015_df.loc[((toronto_2015_df["Date/Time"] >= "2015-04-01") 
                                                   & (toronto_2015_df["Date/Time"] <= "2015-06-30")),:]
avg_toronto_second_quarter = second_quarter_toronto_2015.groupby("Station Name").mean() 

#3rd quarter Jul-Aug-Sep
third_quarter_toronto_2015 = toronto_2015_df.loc[((toronto_2015_df["Date/Time"] >= "2015-07-01") 
                                                   & (toronto_2015_df["Date/Time"] <= "2015-09-30")),:]
avg_toronto_third_quarter = third_quarter_toronto_2015.groupby("Station Name").mean() 

#4nd quarter Oct-Nov-Dec
fourth_quarter_toronto_2015 = toronto_2015_df.loc[((toronto_2015_df["Date/Time"] >= "2015-10-01") 
                                                   & (toronto_2015_df["Date/Time"] <= "2015-12-31")),:]
avg_toronto_fourth_quarter = fourth_quarter_toronto_2015.groupby("Station Name").mean() 

#creating a dataframe with the data

toronto_2015_avg_df = pd.concat([avg_toronto_first_quarter, avg_toronto_second_quarter,
                                   avg_toronto_third_quarter,avg_toronto_fourth_quarter], 
                                keys =("Jan-Feb-Mar","Apr-May_Jun","Jul-Aug-Sep","Oct-Nov-Dec"))

toronto_2015_avg_df

                          Mean Temp (°C)  Total Precip (mm)
            Station Name
Jan-Feb-Mar TORONTO CITY       -5.852809           0.949438
Apr-May_Jun TORONTO CITY       14.203297           3.525000
Jul-Aug-Sep TORONTO CITY       21.007609           1.257955
Oct-Nov-Dec TORONTO CITY        7.765909           1.911494

In [64]:
#Vancouver 2015
#finding Vancouver mean temp and temp total precip for the four quarters of the year 

# 1st quarter Jan-Feb-Mar
first_quarter_vancouver_2015 = vancouver_2015_df.loc[(vancouver_2015_df["Date/Time"] <= "2015-03-31"),:]
avg_vancouver_first_quarter = first_quarter_vancouver_2015.groupby("Station Name").mean()

#2nd quarter Apr-May_Jun
second_quarter_vancouver_2015 = vancouver_2015_df.loc[((vancouver_2015_df["Date/Time"] >= "2015-04-01") 
                                                   & (vancouver_2015_df["Date/Time"] <= "2015-06-30")),:]
avg_vancouver_second_quarter = second_quarter_vancouver_2015.groupby("Station Name").mean() 

#3rd quarter Jul-Aug-Sep
third_quarter_vancouver_2015 = vancouver_2015_df.loc[((vancouver_2015_df["Date/Time"] >= "2015-07-01") 
                                                   & (vancouver_2015_df["Date/Time"] <= "2015-09-30")),:]
avg_vancouver_third_quarter = third_quarter_vancouver_2015.groupby("Station Name").mean() 

#4nd quarter Oct-Nov-Dec
fourth_quarter_vancouver_2015 = vancouver_2015_df.loc[((vancouver_2015_df["Date/Time"] >= "2015-10-01") 
                                                   & (vancouver_2015_df["Date/Time"] <= "2015-12-31")),:]
avg_vancouver_fourth_quarter = fourth_quarter_vancouver_2015.groupby("Station Name").mean() 

#creating a dataframe with the data

vancouver_2015_avg_df = pd.concat([avg_vancouver_first_quarter, avg_vancouver_second_quarter,
                                   avg_vancouver_third_quarter,avg_vancouver_fourth_quarter], 
                                keys =("Jan-Feb-Mar","Apr-May_Jun","Jul-Aug-Sep","Oct-Nov-Dec"))

vancouver_2015_avg_df

                              Mean Temp (°C)  Total Precip (mm)
            Station Name
Jan-Feb-Mar VANCOUVER INTL A        7.154444           4.760000
Apr-May_Jun VANCOUVER INTL A       13.886667           0.756818
Jul-Aug-Sep VANCOUVER INTL A       17.307609           1.432967
Oct-Nov-Dec VANCOUVER INTL A        7.342391           5.610870

In [67]:
#Montreal 2015
#finding Montreal mean temp and temp total precip for the four quarters of the year 

# 1st quarter Jan-Feb-Mar
first_quarter_montreal_2015 = montreal_2015_df.loc[(montreal_2015_df["Date/Time"] <= "2015-03-31"),:]
avg_montreal_first_quarter = first_quarter_montreal_2015.groupby("Station Name").mean()

#2nd quarter Apr-May_Jun
second_quarter_montreal_2015 = montreal_2015_df.loc[((montreal_2015_df["Date/Time"] >= "2015-04-01") 
                                                   & (montreal_2015_df["Date/Time"] <= "2015-06-30")),:]
avg_montreal_second_quarter = second_quarter_montreal_2015.groupby("Station Name").mean() 

#3rd quarter Jul-Aug-Sep
third_quarter_montreal_2015 = montreal_2015_df.loc[((montreal_2015_df["Date/Time"] >= "2015-07-01") 
                                                   & (montreal_2015_df["Date/Time"] <= "2015-09-30")),:]
avg_montreal_third_quarter = third_quarter_montreal_2015.groupby("Station Name").mean() 

#4nd quarter Oct-Nov-Dec
fourth_quarter_montreal_2015 = montreal_2015_df.loc[((montreal_2015_df["Date/Time"] >= "2015-10-01") 
                                                   & (montreal_2015_df["Date/Time"] <= "2015-12-31")),:]
avg_montreal_fourth_quarter = fourth_quarter_montreal_2015.groupby("Station Name").mean() 

#creating a dataframe with the data

montreal_2015_avg_df = pd.concat([avg_montreal_first_quarter, avg_montreal_second_quarter,
                                   avg_montreal_third_quarter,avg_montreal_fourth_quarter], 
                                keys =("Jan-Feb-Mar","Apr-May_Jun","Jul-Aug-Sep","Oct-Nov-Dec"))

montreal_2015_avg_df.columns

Index(['Mean Temp (°C)', 'Total Precip (mm)'], dtype='object')

In [86]:
#merge the different cities data set together
west_avg_2015_data = pd.merge([halifax_2015_avg_df,toronto_2015_avg_df], how = "outer", right_on)
#avg_2015_data = pd.merge(,vancouver_2015_avg_df, montreal_2015_avg_df, on = "Keys")
west_avg_2015_data

SyntaxError: positional argument follows keyword argument (2560853810.py, line 2)

In [31]:
#merging the different cities climate df 
# east_climate_df = pd.merge(halifax_2015_df, montreal_2015_df, on=["Date/Time"])
# west_climate_df = pd.merge(toronto_2015_df, vancouver_2015_df, on = ["Date/Time"])
# west_climate_df.head()

,Date/Time,Station Name_x,Mean Temp (°C)_x,Total Precip (mm)_x,Station Name_y,Mean Temp (°C)_y,Total Precip (mm)_y
0,2015-01-01,TORONTO CITY,-3.9,0.0,VANCOUVER INTL A,-0.9,0.0
1,2015-01-02,TORONTO CITY,-2.3,0.0,VANCOUVER INTL A,1.9,3.8
2,2015-01-03,TORONTO CITY,-0.4,12.3,VANCOUVER INTL A,2.2,2.8
3,2015-01-04,TORONTO CITY,0.2,10.8,VANCOUVER INTL A,4.1,38.0
4,2015-01-05,TORONTO CITY,-8.6,0.2,VANCOUVER INTL A,7.0,20.0

In [32]:
# canada_climate_df = pd.merge(east_climate_df, west_climate_df, on=["Date/Time"])
# canada_climate_df.head()

,Date/Time,Station Name_x_x,Mean Temp (°C)_x_x,Total Precip (mm)_x_x,Station Name_y_x,Mean Temp (°C)_y_x,Total Precip (mm)_y_x,Station Name_x_y,Mean Temp (°C)_x_y,Total Precip (mm)_x_y,Station Name_y_y,Mean Temp (°C)_y_y,Total Precip (mm)_y_y
0,2015-01-01,HALIFAX STANFIELD INT'L A,-8.6,1.6,MONTREAL/PIERRE ELLIOTT TRUDEAU INTL,-5.2,0.3,TORONTO CITY,-3.9,0.0,VANCOUVER INTL A,-0.9,0.0
1,2015-01-02,HALIFAX STANFIELD INT'L A,-4.5,0.4,MONTREAL/PIERRE ELLIOTT TRUDEAU INTL,-9.7,0.2,TORONTO CITY,-2.3,0.0,VANCOUVER INTL A,1.9,3.8
2,2015-01-03,HALIFAX STANFIELD INT'L A,-12.4,0.0,MONTREAL/PIERRE ELLIOTT TRUDEAU INTL,-12.6,12.3,TORONTO CITY,-0.4,12.3,VANCOUVER INTL A,2.2,2.8
3,2015-01-04,HALIFAX STANFIELD INT'L A,-2.7,21.0,MONTREAL/PIERRE ELLIOTT TRUDEAU INTL,-2.1,25.3,TORONTO CITY,0.2,10.8,VANCOUVER INTL A,4.1,38.0
4,2015-01-05,HALIFAX STANFIELD INT'L A,-2.3,6.6,MONTREAL/PIERRE ELLIOTT TRUDEAU INTL,-11.5,0.0,TORONTO CITY,-8.6,0.2,VANCOUVER INTL A,7.0,20.0